<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="80in8"
        android:supportsRtl="true"
        android:theme="@style/Theme.EightyIn8">
        <activity
            android:name="me.riek.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EightyIn8.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
